{% extends 'default.html' %}

{% block title %} Ajout d'un Employé {% endblock %}

{% block content %}

<h1> Veillez Remplir les champs pour ajouter un employé !</h1>
<div class="container">
    {% if message=='error' %}
    <p class="alert alert-danger"> SVP Veillez saisir tous les champs !</p>
    {% elif message=='failure' %}
    <p class="alert alert-warning">
        Une erreur est survenue lors de l'ajout de l'employé, veillez vous rassurer que le matricule que vous avez
        saisie n'est pas attribué à un autre employé.Si l'erreur persiste veillez contacter l'administrateur s'il vous plait !</p>
    {% elif message=='sucess' %}
    <p class="alert alert-sucess">L'employé de matricule {{employe.matricule}} a été ajouté avec sucès!</p>
    {% endif %}
</div>
<form action="{{url_for('add_employe')}}" method="post" class="container">
    <div class="form-floating mb-3">
        <input name="nom" type="text" class="form-control" id="Nom" placeholder="">
        <label for="Nom">Nom</label>
    </div>
    <div class="form-floating mb-3">
        <input name="prenom" type="text" class="form-control" id="Prenom" placeholder="">
        <label for="Prenom">Prenom</label>
    </div>
    <div class="form-floating mb-3">
        <input name="matricule" type="text" class="form-control" id="mat">
        <label for="mat">Matricule</label>
    </div>
    <div class="form-floating mb-3">
        <input name="fonction" type="text" class="form-control" id="Fction" placeholder="">
        <label for="fction">fonction</label>
    </div>
    <div class="form-floating mb-3">
        <input name="departement" type="text" class="form-control" id="deptmt" placeholder="deptmt">
        <label for="deptmt">Departement</label>
    </div>
    <input type="submit" value="ajouter l'employe" class="btn btn-success">
</form>

{% endblock %}